.env
.env.*
!.env.example
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
**/kubeconfig
**/kubeconfig.*
*.pem
id_ed25519
!id_ed25519.pub
